.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-nav > a {
  margin-right: 8px;
  color: blue;
}

.App-content {
  padding: 1rem;
  background-color: #eeeeee;
}
.App-content-wrapper {
  min-height: 90vh;
}

@media screen and (min-width: 768px) {
  .App-content-wrapper {
    max-width: 768px;
    margin: 1rem auto;
  }
}
ul {
  padding: 0;
  list-style-type: none;
}
.card {
  margin: 1em 0;
}

.onparledenous-article {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px rgba(199,199,199,1);
  background-color: white;
}

.onparledenous-article img {
  width: 100%;
}

.onparledenous-article p {
  padding: 1rem;
}

.bieres-article {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 1em 0;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px rgba(199,199,199,1);
}
.bieres-img {
  width: 50px;
}
img {
  height: auto;
  width: 300px;
  margin-right: 20px;
}

.text-wrapper {
  padding: 0 2em;
  text-align: left;
}